<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mises Wallet Panel</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="chrome://resources/css/text_defaults_md.css">
  <script src="chrome://resources/js/load_time_data_deprecated.js"></script>
  <script src="/strings.js"></script>
  <style>
    html,
    body {
      margin: 0;
      background-color: rgb(248, 249, 250);
    }
  </style>
</head>
<body>
  <script type="module" src="brave_wallet_panel.bundle.js"></script>
  <div id="mountPoint"/>
</body>
</html>
