<!-- This activity is used for search provider widget -->
<activity android:name="org.chromium.chrome.browser.searchwidget.SearchWidgetProviderActivity"
    android:theme="@style/Theme.Chromium.SearchActivity"
	android:exported="true"/>

<!-- Wallet Custom Tabs -->
<activity android:name="org.chromium.chrome.browser.crypto_wallet.BraveWalletCustomTabActivity"
    android:theme="@style/Theme.Chromium.Activity"
    android:exported="false"
    android:windowSoftInputMode="adjustResize"
    android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|screenLayout|smallestScreenSize|uiMode|navigation"
    android:hardwareAccelerated="false"
>
</activity>

<!-- <service android:name="org.chromium.chrome.browser.mises.MisesLCDService"
            android:enabled="true"
	android:exported="false" /> -->

<activity
    android:name="com.crosspromotion.sdk.AdsActivity"
    android:configChanges="keyboardHidden|screenSize|orientation"
    android:launchMode="singleTask"
    android:screenOrientation="user"
    android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
<activity
    android:name="com.crosspromotion.sdk.ActionActivity"
    android:configChanges="keyboardHidden|screenSize"
    android:launchMode="singleTask"
    android:theme="@android:style/Theme.Translucent.NoTitleBar" />

<meta-data
    android:name="com.google.android.play.billingclient.version"
    android:value="7.0.0" />


<meta-data
    android:name="com.google.firebase.messaging.default_notification_channel_id"
    android:value="@string/default_fcm_channel_id" />
<!--add this to keep R.string.project_id from being removed in release build
otherwise it will be marked as remove in chrome_modern_public_base_bundle_module_unused_resources.config 
TODO find the reason why R.string.project_id will be marked unused, it should be used in the process of 
firebase initialization
-->  
<meta-data
    android:name="com.google.firebase.messaging.project_id"
    android:value="@string/project_id" />
<meta-data
    android:name="firebase_crashlytics_collection_enabled"
    android:value="true" />

<meta-data 
    android:name="com.google.android.gms.ads.APPLICATION_ID"
    android:value="ca-app-pub-3526707353288294~6999474883"/>
<meta-data
    android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
    android:value="false"/>
<meta-data
    android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
    android:value="false"/>