<!-- This activity is used for search provider widget -->
<activity android:name="org.chromium.chrome.browser.searchwidget.SearchWidgetProviderActivity"
    android:theme="@style/Theme.Chromium.SearchActivity"
	android:exported="true"/>

<service android:name="org.chromium.chrome.browser.mises.MisesLCDService"
            android:enabled="true"
	android:exported="false" />

<meta-data
        android:name="com.google.android.play.billingclient.version"
        android:value="4.0.0" />


